
.wrapper {
    perspective: 1px;
    height: 100vh;
    overflow-x: hidden;
    overflow-y: auto;
}

a:link {
    text-decoration: none;
}

.image_container_bg1 {
    height: 100vh;
    overflow: hidden;
    margin-left: -6px;
    margin-bottom: 100px;
}



.image {
    background-size: cover;
    height: 100vh;
    background-position: center;
    transform: translateZ(-1px) scale(2);
}

.img1 {
    background-image: url("../images/img_bg1.png");
}



.background_layer1 {
    background-image: url("../images/img_bg1.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    margin-left: -2px;
    transform: translateZ(-0.3px) scale(1.3);

}

#chevron {
    position: relative;
    margin: 0 auto;
    text-align: center;
    width: 100%;
    height: 500px;
    top: 580px;
    position: fixed;
    /*display: none;*/
}



#chevron:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 50%;
    background: white;
    transform: skew(0deg, 5.7deg);
}
#chevron:after {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    width: 50%;
    padding-left: 2px;
    background: white;
    transform: skew(0deg, -5.7deg);
}

#chevron2 {
    position: relative;
    margin: 0 auto;
    text-align: center;
    width: 100%;
    height: 760px;
    top: 1710px;
    position: fixed;
    /*display: none;*/
}

#chevron2:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 50%;
    background: white;
    transform: skew(0deg, 5.7deg);
}
#chevron2:after {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    width: 50%;
    padding-left: 2px;
    background: white;
    transform: skew(0deg, -5.7deg);
}

#chevron3 {
    position: relative;
    margin: 0 auto;
    text-align: center;
    width: 100%;
    height: 500px;
    top: 2970px;
    position: fixed;
    /*display: none;*/
}

#chevron3:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 50%;
    background: white;
    transform: skew(0deg, 5.7deg);
}
#chevron3:after {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    width: 50%;
    padding-left: 2px;
    background: white;
    transform: skew(0deg, -5.7deg);
}


.header-panel {
    width: 100%;
    height: 110px;
    background-color: white;
    position: absolute;
    top: 30px;
    text-align: center;
}

.companyName {
    font-family: Roboto;
    color: #424f57;
    font-size: 36px;
    font-weight: 300;
    margin-left: -150px;
    position: relative;
    top: 32px;
}
.companyName span {
    color: #14afca;
    font-weight: 400;
}

.position-nav-menu {
    position: relative;
    top: -6px;
    left: 130px;
}

.nav-menu {
    font-family: Open Sans;
    font-size: 15px;
    color: #3e4b4e;
    font-weight: 700;
    text-transform: uppercase;
    margin-left: 50px;
}

.nav-menu:hover {
    color: #14afca;
}

.text-image {
    position: absolute;
    top: 300px;
    color: white;
    font-family: Arial;
    font-size: 52px;
    font-weight: 700;
    line-height: 75px;
    text-transform: uppercase;
    width: 100%;
    text-align: center;
}

.text_chevron {
    position: relative;
    width: 100%;
    margin: 0 auto;
    top: 50px;
    z-index: 1;
    font-family: Roboto;
    color: #14afca;
    font-size: 60px;
    margin-top: 108px;
}
.text_chevron_middle {
    font-family: OpenSans;
    color: #424f57;
    font-size: 18px;
    font-weight: 600;
    line-height: 40px;
}

.text_chevron_small {
    font-family: Roboto;
    font-weight: 300;
    color: #424f57;
    font-size: 16px;
    line-height: 30px;
    width: 970px;
    margin: 20px auto;
}

.image_container_bg2 {
    height: 1090px;
    overflow: hidden;
    margin-left: -6px;
    margin-top: -150px;
}

.img2 {
    background-image: url("../images/img_bg2.png");
}

.img3 {
    background-image: url("../images/img_bg3.png");
}

.image_container_bg3 {
    height: 1090px;
    overflow: hidden;
    margin-left: -6px;
}

.text_section_2 {
    position: absolute;
    width: 100%;
    text-align: center;
    margin: 0 auto;
    top: 50px;
    z-index: 1;
    font-family: Roboto;
    color: #14afca;
    font-size: 60px;
    margin-top: 1150px;
}

.text_section_2_small {
    font-family: Open Sans;
    color: #ffffff;
    font-size: 18px;
    font-weight: 600;
    line-height: 75px;
    margin-bottom: 20px;
}

.text_chevron2 {
    position: relative;
    width: 100%;
    margin: 0 auto;
    z-index: 1;
    font-family: Roboto;
    color: #14afca;
    font-size: 60px;
    margin-top: 110px;
}

.text_chevron2_small {
    font-family: Open Sans;
    color: #424f57;
    font-size: 18px;
    font-weight: 600;
    line-height: 40px;
}

.img_chevron2 {
    margin: 30px 60px;
}

.img_chevron2_text {
    font-family: Roboto;
    color: #424f57;
    font-size: 15px;
    font-weight: 300;
    line-height: 28px;
    width: 1010px;
    display: flex;
    margin: 0 auto;

}

.img_chevron2_text div {
    margin: 0 25px;
}

.text_section_3 {
    position: absolute;
    width: 100%;
    text-align: center;
    margin: 0 auto;
    top: 50px;
    z-index: 1;
    font-family: Roboto;
    color: #14afca;
    font-size: 60px;
    margin-top: 2550px;
}

.text_section_3_italic {
    font-family: Open Sans;
    color: #d3cccc;
    font-size: 16px;
    font-style: italic;
    line-height: 28px;
    width: 880px;
    margin: 0 auto;
}

.text_section_3_italic div {
    color: #ffffff;
    line-height: 24px;
    font-weight: 600;
    text-align: right;
    margin-right: 110px;
    margin-top: 20px;
}

.text_bottom {
    font-family: Roboto;
    color: #14afca;
    font-size: 60px;
    font-weight: 400;
    line-height: 40px;
    position: relative;
    text-align: center;
}

.text_bottom div {
    font-family: Open Sans;
    color: #424f57;
    font-size: 18px;
    font-weight: 600;
    line-height: 40px;
    margin-top: 20px;
}

.text_bottom_2 {
    font-family: Roboto;
    color: #424f57;
    font-size: 30px;
    line-height: 48px;
    width: 780px;
    position: relative;
    margin: 40px auto;
    text-align: center;
}

footer {
    font-family: Open Sans;
    color: #3d3c3c;
    font-size: 14px;
    position: relative;
    text-align: center;
    margin: 100px auto;
}

footer span {
    font-weight: 700;
}